
.hide-mobile {
  @media (max-width: 480px) {
    display: none;
  }
}

.hide-desktop {
  @media not all and (max-width: 480px) {
    display: none;
  }
}
.col-xs-6{
  margin-top: 50px;
}
.search{
  padding-top:50px;
}

.pie{
  padding-top:50px;
}

.labels{
  padding-top:80px;
}
.row{

  text-align: right;
}

p{
  font-family: 'Roboto', cursive;
}
.box{
  float: right;
  padding: 5px;
  margin: 5px;
}

.positive{
  background:#ed3b41;
}

.negative{
  background:#94fc9d;
}

.neutral{
  background:#fce176 ;
}
