.map-background{
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.container-discover {
  height: 100%;
}

.container-discover-top {
  height: 75%;
}

.container-discover:nth-child(2) {
  height: 25%;
}

#title-steps {
  font-family: Roboto medium;
  height: auto;
  margin: -4% 0 0 0;
  font-size: x-large;
  color: #3e4040;
  text-align: center;
}

.container-discover-bottom {
  height: 25%;
  position: absolute;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

#content-steps {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sentiment-pie svg {
  position: inherit;
}

.tweets-info {
  padding-top: 10%;
}

.tweets-info-title {
  text-align: right;
  font-family: Roboto thin;
  color: #3e4040;
}

.tweets-info-value {
  text-align: left;
  font-family: Roboto light;
}

.modal_loading {
  position: absolute;
  height: 85%;
  width: 75%;
  background: url('../media/loading.gif')
              50% 50%
              no-repeat;
}

[class*="SearchNav-"] > header {
  background-color: transparent;
  box-shadow: none;
}

@media screen and (max-width: 575px) {
  #content-steps svg {
    width: 35%;
  }

  #content-steps .sentiment-pie {
    margin-bottom: 10%;
  }

  .tweets-info {
    padding-top: 0;
  }
}
