.map-background{
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.sentiment-save{
  margin-bottom: 8px !important;
}

.container-discover {
  height: 100%;
}

.container-discover-top {
  height: 75%;
}

.container-discover:nth-child(2) {
  height: 25%;
}

.h7{
  font-family: Roboto light;
}

.intro{
  text-align: right;
}

.intro [class*="fa-sign-"] {
  padding-left: 5%;
}

.intro-button{
  text-align: left;
  padding-top: 8px;
}

.drawAnimation{
  position: absolute;
  mix-blend-mode: screen;
}

.gif{
  position: relative;
    width: 20vw;
    margin-top: 50px;
    margin-left: 900px;
}

.introjs-tooltiptext{
  font-family: Roboto thin;
}


#title-steps {
  font-family: Roboto medium;
  height: auto;
  margin: -4% 0 0 0;
  font-size: x-large;
  color: #3e4040;
  text-align: center;
}

.container-discover-bottom {
  height: 25%;
  position: absolute;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

#content-steps {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sentiment-pie svg {
  position: inherit;
  overflow: visible;
}

.pieSlice {
  overflow: visible;
}

.tweets-info {
  padding-top: 5%;
}

.tweets-info-title {
  text-align: right;
  font-family: Roboto thin;
  color: #3e4040;
}

.tweets-info-value {
  text-align: left;
  font-family: Roboto light;
}

.title{
  font-size: 35px;
  font-family: Roboto;
}

.sentiment-tweet{
    max-height:11vw;
    overflow: auto;
}

.sentiment-tweet-navigate{
  text-align: center;
  padding-top: 5vw;
  padding-right: 2vw;
}

#simple-date-menu{
  text-align: left;
  margin: 4% 0 0 0!important;
  max-height:29vw;
}

.react-mapbox-ac-menu{
  text-align: left;
  margin: 4% 0 0 0!important;
  background: rgba(255, 255, 255, 0.48)!important;
  border-radius: 10px;
  max-height:8vw;
  overflow: auto;
}

#divToPrint {
  width: 100%;
  text-align: center;
}

#divToPrint .tweets-info {
  font-size: xx-large;
  padding-top: 0;
  padding-bottom: 10%;
}

#divToPrint svg{
  position: inherit;
  width: 100%;
  font-size: initial;
  padding-top: 10%;
  padding-bottom: 12%;
}

#create-pdf-modal i.negative {
  color: #D24136;
}

#create-pdf-modal i.positive {
  color: #A5C05B;
}

#divToPrint .pos, #divToPrint .neg {
  padding-top: 5%;
  font-size: medium;
  text-align: center;
}

#create-pdf-modal button {
  float: right;
}

iframe, twitterwidget {
  min-width: 100% !important;
  margin-top: 0 !important;
}

.progress {
  margin-top: 10%;
}

.error {
  padding-top: 20%;
}

.container-discover #search-nav {
  transform: scale(0.7);
  width: 50vw;
  padding: 0;
  margin: 0 0 0 -25%;
}

.container-discover #search-nav > header {
  background-color: transparent;
  box-shadow: none;
}

.createPDF {
  float: right;
}

.createPDF i {
  font-size: -webkit-xxx-large;
  color: #7f8c8d;
}

.createPDF i:hover {
  cursor: pointer;
  color: #2c3e50;
}

@media screen and (max-width: 807px) {
  .container-discover #search-nav {
      margin-left: 0 !important;
      width: 100% !important;
      transform: none !important;
  }

  .react-mapbox-ac-menu{
    max-height:15vw;
  }

  #simple-date-menu{
    margin: 4% 0 0 0;
    max-height:30vw;
    /* overflow: auto; */
  }
}

@media screen and (min-width: 576px) and (max-width: 599px) {
  .createPDF {
    float: none;
  }
}

@media screen and (max-width: 575px) {
  #content-steps svg {
    width: 35%;
  }

  .createPDF {
    float: none;
  }

  .react-mapbox-ac-menu{
    max-height:30vw;
  }

  #content-steps .sentiment-pie {
    margin-bottom: 10%;
  }

  .tweets-info {
    padding-top: 0;
  }

  .sentiment-tweet{
      max-height:100vw;
      overflow: none;
      margin-left: 4%;
  }
}
