.map-background{
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.container-discover {
  height: 100%;
}

.container-discover-top {
  height: 75%;
}

.container-discover:nth-child(2) {
  height: 25%;
}

.intro{
  text-align: right;
  padding-top: 8px;
}

#title-steps {
  font-family: Roboto medium;
  height: auto;
  margin: -4% 0 0 0;
  font-size: x-large;
  color: #3e4040;
  text-align: center;
}

.container-discover-bottom {
  height: 25%;
  position: absolute;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

#content-steps {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sentiment-pie svg {
  position: inherit;
}

.tweets-info {
  padding-top: 5%;
}

.tweets-info-title {
  text-align: right;
  font-family: Roboto thin;
  color: #3e4040;
}

.tweets-info-value {
  text-align: left;
  font-family: Roboto light;
}

#divToPrint {
  position: absolute;
  width: 80%;
  text-align: center;
  display: none;
}

#divToPrint .tweets-info {
  font-size: xx-large;
}

#divToPrint svg{
  position: inherit;
  width: 30%;
  font-size: initial;
}

iframe, twitterwidget {
  min-width: 100% !important;
  margin-top: 0 !important;
}

.progress {
  margin-top: 10%;
}

.error {
  padding-top: 20%;
}

.container-discover [class*="SearchNav-"] {
  transform: scale(0.7);
  width: 50vw;
  padding: 0;
  margin: 0 0 0 -36%;
}

.container-discover [class*="SearchNav-"] > header {
  background-color: transparent;
  box-shadow: none;
}

.createPDF {
  float: right;
}

.createPDF i {
  font-size: -webkit-xxx-large;
  color: #7f8c8d;
}

.createPDF i:hover {
  cursor: pointer;
  color: #2c3e50;
}


@media screen and (max-width: 807px) {
  .container-discover [class*="SearchNav-"] {
      margin-left: 0 !important;
      width: 100% !important;
      transform: none !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 599px) {
  .createPDF {
    float: none;
  }
}

@media screen and (max-width: 575px) {
  #content-steps svg {
    width: 35%;
  }

  #content-steps .sentiment-pie {
    margin-bottom: 10%;
  }

  .tweets-info {
    padding-top: 0;
  }
}
