.container-location-info {
  position: absolute;
  flex: 1 0 auto;
  width: 100%;
  text-align: right;
  font-style: italic;
  font-size: 9px;
}

.mapboxgl-map {
  left: 0 !important;
}

.mapboxgl-canvas {
  height: 100% !important;
  width: 100% !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}


