/* for CircularIndeterminate (loading circle animation) */
.progress{
    text-align:center;
}

tbody tr:hover {
    cursor: pointer
}

tr i {
    color: #7f8c8d;
}

tr i:hover {
    color: #2c3e50;
}

.container-my-searches {
    margin: 5% 10% 0 10%;
}

[class*="DeleteMySearchesModal-"] h2 {
    margin-bottom: 10%;
}

[class*="DeleteMySearchesModal-"] h3 {
    margin-bottom: 5%;
}

[class*="DeleteMySearchesModal-"] button {
    float: right;
}

.container-my-searches [class*="SearchNav-"] {
    padding-top: 5%;
    margin-top: 0 !important;
}

@media screen and (max-width: 807px) {
    .container-my-searches [class*="SearchNav-"] {
        margin-left: 0 !important;
        width: 100% !important;
        transform: none !important;
    }
}

@media screen and (max-width: 767px) {
    .container-my-searches {
        margin: 5%;
    }
}
