.btn{
  font-size: 11px;
  font-family: 'Roboto';
  margin-top: 20px;
}

h1{
  font-family: 'Roboto';
}

.searchInput{
  text-align: right;
}

#date-location{
  height: 5%;
  padding-top: 5%;
  text-align: center;
}

.container-search-date{
  /* margin-top: 5px; */
}

.container-type{
  position: absolute;
  display: inline-block;
}

@media screen and (max-width: 575px) {
  .container-discover .container-search {
    width: 80%;
    padding: 0 5%;
  }
}

@media screen and (max-width: 466px) {
  .container-discover .container-search {
    width: 96%;
    padding: 0 2%;
  }
}