.btn{
  font-size: 11px;
  font-family: 'Roboto';
  margin-top: 20px;
}

h1{
  font-family: 'Roboto';
}

.searchInput{
  text-align: right;
}

#date-location{
  height:20px;
}

.container-searchdate{
  /* margin-top: 5px; */
}

.container-type{
  position: absolute;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .container-discover-top .container-search {
    width: 100%;
  }
}
