#root, .App, .App-header {
  height: 100%;
  width: 100%;
  font-family: Roboto light;
  margin: 0;
  /* overflow: hidden; */
}

.container-welcome {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("../img/map_img.jpg");
  background-size: cover;
  height: 100%;
}

.container-top {
  flex: 1 0 auto;
  height: 70%;
}

.container-top button:hover {
  background-color: #4caf50;
  color: #fff;
}

.container-top a {
  text-decoration: none;
}

.container-top p {
  font-size: large;
  color: #3e4040;
}

#stepper {
  height: 30%;
  text-align: center;
  flex-shrink: 0;
  background-color: #3e4040;
}

#nb-steps {
  font-family: Roboto medium;
  height: auto;
  margin: -4% 0 0 0;
  font-size: xx-large;
  color: #3e4040;
}

#description-steps {
  font-family: Roboto thin;
  color: #fff;
  font-size: small;
  padding-top: 3%;
  margin-right: 0;
  margin-left: 0;
}

.container-search {
  width: 30%;
  padding: 7% 0 0 7%;
  text-align: right;
}

.text{
  text-align: right;
  margin: 0;
}

.container-search > .search {
  background: rgba(255, 255, 255, 0.48);
  border-radius: 10px;
  position: relative;
  padding: 0% 10% 0% 10%;
}

@media screen and (min-width: 576px) and (max-width: 807px) {
  .container-search {
    width: 80%;
    padding: 0 5%;
  }

  .container-search > .search {
    width: 100%;
    padding: 0 5%;
  }
}

@media screen and (max-width: 670px) {
  #nb-steps {
    margin: -7% 0 0 0;
  }
}

@media screen and (max-width: 575px) {
  #nb-steps {
    margin: 0;
    color: #fff;
  }

  #stepper {
    height: auto;
  }

  .container-search > .search {
    width: 100%;
    padding: 0 5%;
  }
}
