#root, .App, .App-header {
  height: 100%;
}

.container-welcome {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("../img/map_img.jpg");
  background-size: cover;
  height: 100%;
}

.container-top {
  flex: 1 0 auto;
  height: 70%;
}

.container-top button:hover {
  background-color: #4caf50;
  color: #fff;
}

.container-top a {
  text-decoration: none;
}

.container-top p {
  font-size: large;
  color: #3e4040;
}

#stepper {
  height: 30%;
  text-align: center;
  flex-shrink: 0;
  background-color: #3e4040;
}

#nb-steps {
  height: auto;
  margin: -5% 0 0 0;
  font-size: xx-large;
  color: #3e4040;
}

#description-steps {
  color: #fff;
  font-size: medium;
  padding-top: 3%;
  margin-right: 0;
  margin-left: 0;
}

.container-search {
  width: 40%;
  margin: 7% 0 0 7%;
  text-align: right;
}

@media screen and (max-width: 670px) {
  #nb-steps {
    margin: -7% 0 0 0;
  }
}

@media screen and (max-width: 575px) {
  #nb-steps {
    margin: 0;
    color: #fff;
  }

  #stepper {
    height: auto;
  }

  .container-search {
    width: 60%;
    margin: 20% 20% 0 20%;
  }
}

/*.hide-mobile {
  @media (max-width: 480px) {
    display: none;
  }
}

.hide-desktop {
  @media not all and (max-width: 480px) {
    display: none;
  }
}
.col-xs-6{
  margin-top: 50px;
}
.search{
  padding-top:50px;
}

.pie{
  padding-top:50px;
}

.labels{
  padding-top:80px;
}
.row{

  text-align: right;
}

p{
  font-family: 'Roboto', cursive;
}
.box{
  float: right;
  padding: 5px;
  margin: 5px;
}

.positive{
  background:#ed3b41;
}

.negative{
  background:#94fc9d;
}

.neutral{
  background:#fce176 ;
}
*/
